*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
  ;
}
.container{
  width: 100vw;
  height: 100vh;
  font-size: 30px;
 
}

nav{
  width: 100%;
  padding: .55rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(27, 25, 25);
}

nav a{
  text-decoration: none;
}

.hamburger{
  display: flex;
  flex-direction: column;
  display: none;
  list-style-type: none;
}
.hamburger li{
  width: 23px;
  height: 3px;
  margin: 3px;
  background-color: rgb(226, 15, 131);
  
}

nav img{
  width: 4.2rem;
  margin-left: 1.5rem;
  
}

nav ul{
  width: 50%;
  display: flex;
  color: wheat;
  list-style-type: none;
  font-size: 1.3rem;
  justify-content: space-around;
  
}

nav ul li{
  cursor: pointer;
  transition: transform 400ms ease;
}

nav ul li:hover{
  color: skyblue;
}

nav ul li:active{
  transform: scale(0.9);
}

section{
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  
  
}

.image_box{
  width: 40%;
  height: 50%;
  position: relative;  
  
}

.image_box:hover .main{
  left:-30px;
}

.image_box:hover .back{
  top:30px;
}

.main{
  width: 280px;
  height: 450px;
  position: absolute;
  top: -40px;
  left: 0;
  transition: left ease 600ms;
}

.back{
  width: 230px;
  height: 310px;
  position: absolute;
  top: 0;
  transition: top ease 600ms;
}

.about p:nth-child(1){
  font-size: 3.4rem;

}

.about{
  margin-left: 1.5rem;
}

span{
  color: teal;
}

.about button{
  padding: 0.3rem;
  border: none;
  background-color: rgb(20, 151, 192);
  color: black;
  font-weight: bolder;
  font-size: 0.9rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: transform ease 400ms;
}

.about button:hover{
  transform: scale(1.1);
}

.about button:active{
  transform: scale(0.9);
}

.portfolio{
  margin-top: 12rem;

}

.portfolio h1{
  text-align: left;
  color: rgb(228, 127, 54);
  letter-spacing:3px;
  margin-bottom: 5rem;
  margin-left: 6rem;
}

.projects{
  display: flex;
  justify-content: center;
  gap:9rem;
 

}

.projects img{
  width: 21rem;
  border-radius: 10px;
  cursor: pointer;
  height: 18rem;
  
}


.item2{
  position: relative;
  transition: transform ease 400ms;
}

.item2:hover .info{
  opacity: 1;
  bottom: 5%; 
  
}
.item2:hover .img{
  filter: blur(3px);
  
}


.item2 p{
  position: absolute;
  bottom: -10px;
  text-align: center;
  font-size: 1.3rem;
  background-color: rgb(113, 106, 106,0.8);
  width: 100%;
  border-radius:10px;
  height: 30%;
  font-weight: bold;
  transition: bottom ease 700ms;
  opacity: 0;
  
}


.item3{
  position: relative;
  transition: transform ease 400ms;
}

.item3:hover .weather-info{
  opacity: 1;
  bottom: 5%; 
  
}
.item3:hover .weather-img{
  filter: blur(3px);
  
}


.weather-info{
  position: absolute;
  bottom: -10px;
  text-align: center;
  font-size: 1.3rem;
  background-color: rgb(113, 106, 106,0.8);
  width: 100%;
  border-radius:10px;
  height: 30%;
  font-weight: bold;
  transition: bottom ease 700ms;
  opacity: 0;
  
}


.item1{
  position: relative;
  transition: transform ease 400ms;
}

.item1:hover .password-info{
  opacity: 1;
  bottom: 5%; 
  
}
.item1:hover .password-img{
  filter: blur(3px);
  
}


.password-info{
  position: absolute;
  bottom: -10px;
  text-align: center;
  font-size: 1.3rem;
  background-color: rgb(113, 106, 106,0.8);
  width: 100%;
  height: 30%;
  border-radius:10px;
  font-weight: bold;
  transition: bottom ease 700ms;
  opacity: 0;
  
}



@media screen and (max-width:600px) 
{
 body{
  background-color: black;
 }
  nav ul{
    display: none;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    margin-right: 30px;
  }

  nav{
    position: relative;
    
  }

   .popup_menu  li{
    font-size: 18px;
   }

   .popup_menu a{
    text-decoration: none;
    color: rgb(5, 59, 147);
   }
  
   .popup_menu{
    width: 100%;
    height: 100px;
    display: block;
    top:-24px;
    background-color: slategrey;
    color: black;
    display: flex;
    flex-direction: column;
    padding:5px;
    align-items: center;
    justify-content: space-between;
    margin-top:100px;
    position: absolute;
    margin-bottom: 100px;
   

  }
  
  .line1{
    transition: transform 400ms ease;
  }

  
  
  .line3{
    transition: transform 400ms ease;
  }
  
  

  .active .line1{

    transform: rotate(45deg) translateY(8px);
  }

  .active .line2{

    visibility: hidden;
  }

   
  .active .line3{

   transform: rotate(-45deg) translateY(-8px);
  }
  
 


  nav img{
    width: 3.2rem;
    margin-left: 1.1rem;
    
  }

  section{
    display: flex;
    flex-direction: column;
    margin-top: 1rem; 
    align-items: center; 
    justify-content: center;
   
    
  }

  
.image_box{
  width: 25%;
  height: 35%;
  position: relative;  
  margin-right: 90px;
 
  margin-bottom: 70px;
  margin-top: 30px;
  
}

.image_box:hover .main{
  left:-20px;
}

.image_box:hover .back{
  top:20px;
}

.main{
  width: 180px;
  height: 290px;
  position: absolute;
  top: -40px;
  left: 0;
  transition: left ease 600ms;
}

.back{
  width: 140px;
  height: 210px;
  position: absolute;
  top: 0;
  transition: top ease 600ms;
}


.about p:nth-child(1){
  font-size: 2.3rem;
  text-align: left;

}

.about p:nth-child(2){
  font-size: 2rem;

}

.about{
  margin-left: 1.5rem;
  color: white;
}

span{
  color: teal;
}

.about button{
  padding: 0.3rem;
  border: none;
  background-color: rgb(20, 151, 192);
  color: black;
  font-weight: bolder;
  font-size: 0.7rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: transform ease 400ms;
}

.about button:hover{
  transform: scale(1.1);
}

.about button:active{
  transform: scale(0.9);
}


.portfolio{
  margin-top: 12rem;

}

.portfolio h1{
  text-align: center;
  color: rgb(228, 127, 54);
  letter-spacing:3px;
  margin-bottom: 5rem;
  margin-left: 2rem;
  font-size:  2.4rem;
  font-family: poppins;
  
}

.projects{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:2rem;
 

}

.projects img{
  width: 15rem;
  border-radius: 10px;
  cursor: pointer;
  height: 12rem;
  
}


.item2{
  position: relative;
  transition: transform ease 400ms;
}

.item2:hover .info{
  opacity: 1;
  bottom: 5%; 
  
}
.item2:hover .img{
  filter: blur(3px);
  
}


.item2 p{
  position: absolute;
  bottom: -10px;
  text-align: center;
  font-size: 1rem;
  background-color: rgb(113, 106, 106,0.8);
  width: 100%;
  border-radius:10px;
  height: 30%;
  font-weight: bold;
  transition: bottom ease 700ms;
  opacity: 0;
  
}

.item3{
  position: relative;
  transition: transform ease 400ms;
}

.item3:hover .weather-info{
  opacity: 1;
  bottom: 5%; 
  
}
.item3:hover .weather-img{
  filter: blur(3px);
  
}


.weather-info{
  position: absolute;
  bottom: -10px;
  text-align: center;
  font-size: 1rem;
  background-color: rgb(113, 106, 106,0.8);
  width: 100%;
  border-radius:10px;
  min-height: 33%;
  font-weight: bold;
  transition: bottom ease 700ms;
  opacity: 0;
  
}

.item1{
  position: relative;
  transition: transform ease 400ms;
}

.item1:hover .password-info{
  opacity: 1;
  bottom: 5%; 
  
}
.item1:hover .password-img{
  filter: blur(3px);
  
}


.password-info{
  position: absolute;
  bottom: -10px;
  text-align: center;
  border-radius:10px;
  font-size: 1rem;
  background-color: rgb(113, 106, 106,0.8);
  width: 100%;
  height: 30%;
  font-weight: bold;
  transition: bottom ease 700ms;
  opacity: 0;
  
}


}
